<div id="wrapper" class="wat-cf">
  <div id="main">
    <div class="block" id="block-text">
      <div class="content">
        <div class="inner">
          <p class="first">
          <%= form_for @ad_url, :url => upload_index_path, :html => {:multipart => true} do |f| %>
            <div>
              <table>
                <tr>
                  <%= label_tag "選擇JS檔案"%>
                  <%= f.file_field :file %>
                </tr>
                <tr>
                  <%= f.submit("upload") %>
                </tr>
              </table>
            </div>
          <% end %>
          <p>
            <%= session[:ad_url].html_safe if session[:ad_url].present? %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
